@font-face {
  font-family: 'Source Sans Pro', sans-serif;
  font-style: normal;
  font-weight: normal;
  src: local('Source+Sans+Pro');
}
@font-face {
  font-family: 'Source Sans Pro', sans-serif;
  font-style: normal;
  font-weight: lighter;
  src: local('Source+Sans+Pro');
}
@font-face {
  font-family: 'Source Sans Pro', sans-serif;
  font-style: normal;
  font-weight: bolder;
  src: local('Source+Sans+Pro');
}


@font-face {
  font-family: 'Source Code Pro', monospace;
  font-style: normal;
  font-weight: normal;
  src: local('Source+Code+Pro');
}
